[submodule "documentation/src/docs/pravega-operator"]
	path = documentation/src/pravega-operator
       url = https://github.com/pravega/pravega-operator.git
[submodule "documentation/src/docs/flink-connectors"]
	path = documentation/src/flink-connectors
       url = https://github.com/pravega/flink-connectors.git
[submodule "documentation/src/schema-registry"]
	path = documentation/src/schema-registry
	url = https://github.com/pravega/schema-registry.git
[submodule "documentation/src/spark-connectors"]
	path = documentation/src/spark-connectors
	url = https://github.com/pravega/spark-connectors.git
