#
# Copyright (c) 2017 Dell Inc., or its subsidiaries.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
language: java
jdk:
  - oraclejdk8
env:
  global:
    - GRADLE_OPTS="-Xms128m"

sudo: required

services:
  - docker

cache:
  directories:
  - .gradle
  - $HOME/.gradle
  - $HOME/.m2
  
notifications:
  slack: emcnautilus:UZK3F72LSRYWXUuvlzSilFyy
  email:
    - arvind.kandhare@dell.com
    - tom.kaitchuck@dell.com
    - andrei.paduroiu@dell.com
    - shivesh.ranjan@dell.com
    - bhargav.gulavani@dell.com
    - sandeep.shridhar@dell.com
    - Vijayalakshmi.Veerubhotla@emc.com
    - Abhijeet.Jadhav@emc.com
    - Flavio.Junqueira@emc.com

after_success:
  - bash <(curl -s https://codecov.io/bash) -t ccceafaf-7c60-4a02-9165-480174b535a2
