<!--~
   Copyright (c) 2017 Dell Inc., or its subsidiaries.
-->

<configuration>
    <!-- This config is valid for all unit tests in this module. We are turning off all logging for unit tests -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>