# Copyright (c) 2017 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0

site_name: 'Exploring Pravega'
site_url: 'http://pravega.io/'
site_description: 'Documentation to help you get familiar with Pravega'

repo_url: 'https://github.com/pravega/pravega'
edit_uri: 'tree/master/documentation/src/docs'

theme: 'material'


# Extensions
markdown_extensions:
  - admonition
  - codehilite(guess_lang=false)
  - footnotes
  - meta
  - toc(permalink=true)
  - pymdownx.betterem(smart_enable=all)
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.superfences

pages:
  - Overview: 'index.md'
  - Getting Started: 'getting-started.md'
  - Understanding Pravega:
      - 'Pravega Concepts': 'pravega-concepts.md'
      - 'Terminology': 'terminology.md'
      - 'Key Features': 'key-features.md'
      - 'Pravega FAQ': 'faq.md'
      - 'Segment Store Service': 'segment-store-service.md'
      - 'Segment Containers': 'segment-containers.md'
      - 'Controller Service': 'controller-service.md'
      - 'Wire Protocol': 'wire-protocol.md'
      - 'StateSynchronizer': 'state-synchronizer-design.md'
      - 'Reader Groups': 'reader-group-design.md'

  - Developing Pravega Applications:
      - 'Java API Reference': 'javadoc.md'
      - 'REST API - Controller': 'rest/restapis.md'
      - 'Pravega Connectors': 'connectors.md'
      - 'Working with Reader and Writer': 'basic-reader-and-writer.md'
      - 'Working with Reader Group notifications': 'reader-group-notifications.md'
      - 'Working with State Synchronizer': 'state-synchronizer.md'
      - 'Working with Transactions': 'transactions.md'
      - 'Working with StreamCuts': 'streamcuts.md'
  - Running Pravega:
      - 'Deployment Overview': 'deployment/deployment.md'
      - 'Running Locally': 'deployment/run-local.md'
      - 'Manual Install': 'deployment/manual-install.md'
      - 'Deployment in Kubernetes': 'deployment/kubernetes-install.md'
      - 'Deployment in Docker Swarm': 'deployment/docker-swarm.md'
      - 'Deployment on DC/OS': 'deployment/dcos-install.md'
      - 'Running in the Cloud (AWS)': 'deployment/aws-install.md'
      - 'Pravega Metrics': 'metrics.md'
  - Pravega Security:
      - 'Pravega Authentication/Authorization Plugin': 'auth/auth-plugin.md'
      - 'Client Auth Interface': 'auth/client-auth.md'
      - 'Pravega Security Authorization/Authentication': 'security/pravega-security-authorization-authentication.md'
      - 'Pravega Security Configurations': 'security/pravega-security-configurations.md'
      - 'pravega Security Encryption': 'security/pravega-security-encryption.md'
  - Contributing to Pravega:
      - 'Coding guildelines': 'contributing.md'
      - 'Pravega Roadmap': 'roadmap.md'
      - 'Join the Community': 'join-community.md'
extra:
    version: 0.1

google_analytics: ['UA-1508605-1', 'pravega.io']
