site_name: 'Exporing Pravega'
site_url: 'http://pravega.io/docs'
site_description: 'Documentation to help you get familiar with Pravega'

repo_url: 'https://github.com/pravega/pravega'
edit_uri: 'tree/master/docs/'

theme: 'readthedocs'

pages:
  - Home: 'overview.md'
  - Getting Started: 'getting-started.md'
  - Understanding Pravega:
      - 'Pravega Concepts': 'pravega-concepts.md'
      - 'Terminology': 'terminology.md'
#      - 'Segment Store Service': 'segment-store-service.md'
#      - 'Segment Container': 'segment-containers.md'
#      - 'Reader Groups': 'reader-groups-design.md'
#      - 'State Syncronizer': 'state-synchronizer-design.md'
#      - 'Wire Protocol': 'wire-protocol.md'
  - Developing Pravega Applications:
      - 'Java API Reference': 'javadoc.md'
      - 'Working with Reader and Writer': 'basic-reader-and-writer.md'
      - 'Working with State Synchronizer': 'state-synchronizer.md'
      - 'Working with Transactions': 'transactions.md'
  - Running Pravega:
      - 'Deploying and Managing a Pravega Cluster': 'deployment.md'
      - 'Manual Deployment': 'deployment-manual.md'
      - 'Docker Setup': 'deployment-docker.md'
      - 'Pravega Metrics': 'metrics.md'
  - Contributing to Pravega:
      - 'Coding guildelines': 'contributing.md'
      - 'Issue Triaging': 'contributing.md'
      - 'Pull Request Reviews': 'contributing.md'
      - 'Join the Community': 'join-community.md'
extra:
    version: 0.1

google_analytics: ['UA-1508605-1', 'pravega.io']
