<!--
Copyright (c) 2017 Dell Inc., or its subsidiaries. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0
-->
site_name: 'Exploring Pravega'
site_url: 'http://pravega.io/docs'
site_description: 'Documentation to help you get familiar with Pravega'

repo_url: 'https://github.com/pravega/pravega'
edit_uri: 'tree/master/docs/'

theme: 'readthedocs'

pages:
  - Overview: 'index.md'
  - Getting Started: 'getting-started.md'
  - Understanding Pravega:
      - 'Pravega Concepts': 'pravega-concepts.md'
      - 'Terminology': 'terminology.md'
      - 'Key Features': 'key-features.md'
      - 'Pravega FAQ': 'faq.md'
  - Developing Pravega Applications:
      - 'Java API Reference': 'javadoc.md'
      - 'Working with Reader and Writer': 'basic-reader-and-writer.md'
      - 'Working with State Synchronizer': 'state-synchronizer.md'
      - 'Working with Transactions': 'transactions.md'
  - Running Pravega:
      - 'Deployment Overview': 'deployment/deployment.md'
      - 'Running Locally': 'deployment/run-local.md'
      - 'Prerequisites (Manual Install)': 'deployment/prereqs.md'
      - 'Installation (Manual Install)': 'deployment/installation.md'
      - 'Deployment in Docker Swarm': 'deployment/docker-swarm.md'
      - 'Deployment on DC/OS': 'deployment/dcos-install.md'
      - 'Running in the Cloud (AWS)': 'deployment/aws-install.md'
  - Contributing to Pravega:
      - 'Coding guildelines': 'contributing.md'
      - 'Pravega Roadmap': 'roadmap.md'
      - 'Join the Community': 'join-community.md'
extra:
    version: 0.1

google_analytics: ['UA-1508605-1', 'pravega.io']
